<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yago.epidemic_management.model.dao.ReturnMapper">

    <resultMap id="BaseResultMap" type="com.yago.epidemic_management.model.pojo.Return">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="bz" jdbcType="VARCHAR" property="bz"/>
        <result column="stzk" jdbcType="VARCHAR" property="stzk"/>
        <result column="fourteen_day" jdbcType="VARCHAR" property="fourteenDay"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,user_name,mobile,content, `status`, create_time, bz, stzk, fourteen_day
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from epidemic_situation_return
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from epidemic_situation_return
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.yago.epidemic_management.model.pojo.Return">
        insert into epidemic_situation_return (user_name, mobile, content, `status`,
                                               create_time, bz,
                                               stzk, fourteen_day)
        values (#{user_name}, #{mobile} #{content,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
                #{createTime,jdbcType=TIMESTAMP}, #{bz,jdbcType=VARCHAR},
                #{stzk,jdbcType=VARCHAR}, #{fourteenDay,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.yago.epidemic_management.model.pojo.Return">
        insert into epidemic_situation_return
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userName !=null">
                user_name,
            </if>
            <if test="mobile !=null">
                mobile,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="bz != null">
                bz,
            </if>
            <if test="stzk != null">
                stzk,
            </if>
            <if test="fourteenDay != null">
                fourteen_day,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userName !=null">
                #{userName},
            </if>
            <if test="mobile !=null">
                #{mobile},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="bz != null">
                #{bz,jdbcType=VARCHAR},
            </if>
            <if test="stzk != null">
                #{stzk,jdbcType=VARCHAR},
            </if>
            <if test="fourteenDay != null">
                #{fourteenDay,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yago.epidemic_management.model.pojo.Return">
        update epidemic_situation_return
        <set>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="bz != null">
                bz = #{bz,jdbcType=VARCHAR},
            </if>
            <if test="stzk != null">
                stzk = #{stzk,jdbcType=VARCHAR},
            </if>
            <if test="fourteenDay != null">
                fourteen_day = #{fourteenDay,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="mobile != null">
                mobile = #{mobile},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByIdSelective" parameterType="com.yago.epidemic_management.model.pojo.Return">
        update epidemic_situation_return
        <set>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="bz != null">
                bz = #{bz,jdbcType=VARCHAR},
            </if>
            <if test="stzk != null">
                stzk = #{stzk,jdbcType=VARCHAR},
            </if>
            <if test="fourteenDay != null">
                fourteen_day = #{fourteenDay,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="mobile != null">
                mobile = #{mobile},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yago.epidemic_management.model.pojo.Return">
        update epidemic_situation_return
        set content   = #{content,jdbcType=VARCHAR},
            user_name =#{userName},
            mobile=#{mobile} `status`     = #{status,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            bz = #{bz,jdbcType=VARCHAR},
            stzk = #{stzk,jdbcType=VARCHAR},
            fourteen_day = #{fourteenDay,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT *
        from epidemic_situation_return
        where status = "未审核"
    </select>
    <select id="selectReviewedAll" resultMap="BaseResultMap">
        SELECT *
        FROM epidemic_situation_return
        where status = "已审核"
    </select>

    <select id="selectByUserName" parameterType="string" resultMap="BaseResultMap">
        SELECT *
        FROM epidemic_situation_return
        where user_name = #{userName,jdbcType=VARCHAR}
    </select>
    <select id="selectByPhone" parameterType="string" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from epidemic_situation_return where mobile=#{mobile}
    </select>
    <select id="selectById" parameterType="integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from epidemic_situation_return where id=#{id}
    </select>
    <delete id="deleteById" parameterType="integer">
        delete
        from epidemic_situation_return
        where id = #{id}
    </delete>
    <delete id="batchDeleteById">
        delete from epidemic_situation_return
        where id in
        <foreach collection="ids" open="(" item="id" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
